html{
    font-size: 10px;
}

body, ul{
    background-color: #212529;
    margin: 0;
    padding: 0;
}

.header, .works_li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}

.nav{
    list-style: none;
    display: flex;
}

li.nav-item>a, .header-bth{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s;
}

li.nav-item>a:hover{
    color: #ffb742;
}

li.nav-item>a:active{
    font-size: 32px;
}

.header-bth{
    color: #212529;
    padding: 12px 26px;
    background-color: #FFB742;
    border-radius: 50px;

}

.Who_I_am{
    text-align: center;
    color: white;
    padding-top: 100px;
    margin: 0%;
    
}

.Kartik_text, .sym{
    color: #FFB742;
}
.who1{
    font-size: 32px;
    font-weight: 700;
    line-height: 51px;

}

.who2{
    font-size: 48px;
    font-weight: 700;
    line-height: 91px;
    
}
.who3{
    font-size: 24px;
    font-weight: 400;
    padding-top: 25px;

}

.boy{
    padding-top: 22px;

}

.cards{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    color: white;
    margin-top: 136.27px;
    padding: 0px 72px;
    border: none;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
}

.card_nagoroda:hover{
    background-color: #FFB742;
    transition: all .4s;
    cursor: pointer;
}


.card_nagoroda:hover .sym{
    color: black;
}

.card_nagoroda:hover .of{
    color: black;
}

.card_nagoroda:hover svg path{
    fill: black;
}


.card_nagoroda{
    box-sizing: border-box;
    width: 416px;
    display: flex;
    justify-content: space-evenly;
}


.sym{
    font-size: 25px;
    text-decoration: none;
}

.text{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}


.about_who{
    line-height: 30px;
    text-transform: uppercase;
    padding: 12px 26px;
    background-color: #292B2E;
    border-radius: 50px;
}
.about{
    display: flex;
    padding: 0 49px;
    margin-top: 137px;
    
}
.foto{
    display: flex;
    justify-content: center;
    padding: 0 115px 0 91px;

}   
.about_me{
    color: white;
    width: 700;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
}

.about_hi{
    color: #D4D4D4;
    font-size: 16px;
    width: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    padding-top: 29.49px;
}

.about_box{
    margin-left: 50px;
    margin-top: 100px;
}

.about_h{
    padding-top: 54.45px;
}

.about_bth{
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    padding: 12px 26px;
    background-color: #292B2E;
    border-radius: 50px;
    
}

.my_works{
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.works_Featured{
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 35px;
    margin-top: 6px;
    color: white;
}

.works_li li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    margin-right: 64px;
   
}
.nav{
    display: flex;
}
.works_a{
    color: white;
    box-sizing: border-box;
    text-decoration: none;

}
.work_li a{
    color: white;
    border-radius: 3px;
    transition: all 1s;
}

.work_li ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0 300px;
}

.works_a:hover{
    background-color: #FFB742;
    transition: all .4s;
    cursor: pointer;
    color: black;
}


.works_foto{
    margin: 55px 115px 116px;
}
.foto_{
    padding: 16px;
}



footer {
    background-color: #1C1C1C;
    box-sizing: border-box;
    margin-top: 0%;
    display: flex;
    justify-content: space-evenly;
} 

.footer1 {
    width: 21%;
    margin-left: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-transform: capitalize;
}

.box-name {
    text-transform: capitalize;
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    margin-top: 17px;
}

.box-text {
    font-weight: 500;
    font-size: 18px;
    padding-top: 30px;
    font-family: 'Work Sans', sans-serif;
    color: #7B7B7B;
} 
.list1 {
    margin-top: 6%;
    font-size: 21.59px;
    color: #F5FBF2;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    
 }

 .list {
    font-size: 18px;
    background-color: #1C1C1C;
    font-family: 'Work Sans', sans-serif;
    list-style-type: none;
    padding-left: 0;
    font-weight: 500;
    
    padding-top: 13.13px;
 }
 
 .list a {
    color: #7B7B7B;
} 
li{
    padding-top: 7px;
}
.list_a{
    text-decoration: none;
}
.list li{
    margin: 2%;
}

 .list a:hover {
    color: #FFB742;
 } 
