body{
    font-family: 'Public Sans', sans-serif;
    background: #E5E5E5;
}

form{
    padding-left: 45px;
    min-width: 700px;
    max-width: 1000px;
    background-color: #F9F9F9;
    height: 2600px;
    margin-left: 10%;
}

.main{
    font-size: 48px;
    width: 700;
    padding-top: 64px;
    padding-left: 48px;
}
.mandatory{
    font-size: 16px;
    margin-left: 43px;
    margin-top: 79px;
    font-weight: 400;
}
.information{
    font-size: 20px;
    margin-top: 24px;
    margin-left: 43px;
    
    font-weight: 700;
}

.first{
    display: flex;
    margin-top: 32px;
    margin-left: 43px;
    
}
p.type{
    font-size: 16px;
}





