body{
    background-color: #E5E5E5;
    margin: 0%;
    padding: 0%;
}

.header{
    background-color: #202846;
    color: white;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}

.logo{
    box-sizing: border-box;
    padding-top: 10px;
}

ul{
    list-style: none;
    margin: 0;
    padding-top: 0.5%;
    padding-left: 20%;
    box-sizing: border-box;
    display: flex;
}

.header2 {
    background-color: #C6C6DC;
    height: 140px;
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    padding: 2% 10%;
    box-sizing: border-box;
}

.nav{
    list-style: none;
    display: flex;
}

li.nav-item > a,.header-lang {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s;
}

li.nav-item >a:hover{
    color: #FFFFFF;
}

.cards {
    background-color: #BDBDC6;
    box-sizing: border-box;
    margin: 2% 5%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}


.picture {
    font-weight: 700;
    font-size: 47px;
    font-style: italic;
    color: #353C57;
    box-sizing: border-box;
    border-bottom: solid 3px white;
}

.stars {
    position: absolute;
    right: 0;
}

.box{
    width: 57%;
}

.foto {
    margin-left: 3vw;
    margin-top: 2vw;
}

.text {
    font-weight: 400;
    font-size: 22px;
    margin-top: 1vw;
    height: 65%;
    background-color: #D7D7DD;
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
    padding: 2%;
}

.detali {
    font-weight: 400;
    font-size: 24px;
    color: white;
    background-color: #202846;
    height: 19%;
    width: 14%;
    text-align: center;
    border-radius: 26px;
    padding-top: 1%;
    box-sizing: border-box;
    position: absolute;
    left: 90%;
    top: 78%;
}

.footer {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    background-color: #202846;
    color: white;
    height: 90px;
    padding-top: 1%;
    padding-left: 5%;
    box-sizing: border-box;
}
.up {
    position: fixed;
    right: 1vw;
    bottom: 15vw;

}
