html{
    font-size: 10px;
}

body, ul{
    background-color: #212529;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}

.nav{
    list-style: none;
    display: flex;
}

li.nav-item>a, .header-bth{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s;
}

li.nav-item>a:hover{
    color: #ffb742;
}

li.nav-item>a:active{
    font-size: 32px;
}

.header-bth{
    color: #212529;
    padding: 12px 26px;
    background-color: #FFB742;
    border-radius: 50px;

}



.abouttext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 680px;
}


.who{
    width: 148px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #FFB742;
    text-transform: uppercase;
}

.who span{
    position: relative;
    top: 6px;
}

.me{
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    text-transform: capitalize;
    padding-top: 10px;
}

.description{
    color: #D5D5D5;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    padding-top: 20px;
}

.hire{
    padding-top: 70px;
}





.Who_I_am{
    padding: 108px 238px 0 238px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title{
    color: white;
    font-size: 32px;
    font-family: 'Inter';
    font-weight: 700;
}

.title span{
    color: #FFB742;
    border-bottom: 2px solid ;
}

.Creative{
    color: white;
    font-size: 48px;
    font-weight: 700;
    font-family: 'inter';
}

.design{
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: 'inter';
}
.section1{
    
    background-color: #2e2a2a;
    margin: 0;
    padding: 0;
    padding-top: 1px;
    border: none;
    height: 600px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px;
}


 .dosvid_box {
     width: 416px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-bottom: 20px;
     padding-top: 20px;
     background-color: #1e1e1f;
     border-radius: 10px;
     transition: all 1s;
     

 }

 .dosvid{
     display: flex;
     justify-content: space-around;
     margin-top: 150px;
     padding: 0px 150px ;
     background-color: #2e2a2a;
     border: none;
     
  
 }

 .dosvid_logo {
    margin-left: 3vw;
 }
 
 .dosvid_text{

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;

 }
 .dosvid_number{

    color: #FFB742;
    font-size: 25px;
    text-decoration: none;
 }

 .vector{
    margin-right: 3px;
    color: #FFFFFF;
    padding-right: 35px;
    font-size: 16px;
    font-weight: 700;

 }






footer {
    background-color: #1C1C1C;
    box-sizing: border-box;
    margin-top: 0%;
    display: flex;
    justify-content: space-evenly;
} 

.footer1 {
    width: 21%;
    margin-left: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-transform: capitalize;
}

.box-name {
    text-transform: capitalize;
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    margin-top: 17px;
}

.box-text {
    color: #D4D4D4;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 10%;
} 
.list1 {
    margin-top: 6%;
    font-size: 1.5rem;
    color: #F5FBF2;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
 }

 .list {
    font-size: 1.1rem;
    color: #7B7B7B;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    padding-left: 0;
 }
 
 .list a {
     color: #7B7B7B;
 } 
 
 .list li{
     margin: 2%;
 }

 .list a:hover {
    color: #FFB742;
 } 
