body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    margin: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.header{
    background-color: black;
    height: 50px;
    line-height: 50px;
}
.nav li{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 14px;

}
.nav li:last-child a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: red;
}

.nav li:last-child a:hover {
    background-color: brown;
}