body{
    font-family: 'Marcellus', serif;
    
}

.h1{
    margin: 60px 0;
    font-size: 40px;
    font-weight: 700;
   
}

.line{
    width: 361px;
    border-bottom: 5px solid #3E45E8;
}

.header{
    height: 101px;
    text-align: center;
    color: #3E45E8;
    font-size: 48px;
    font-weight: 400;
    padding: 25px 0;
}
.header-span{
    color: #E8C23E;
    padding: 25px;
}

.banner{
    height: 803px;
    background-image: url("../img/osnovniyfon.png");
    background-repeat: no-repeat;
    background-size: auto;
    box-sizing: border-box;
    padding-left: 60px;
    padding-top: 216px;

}

.content{
    padding-top: 5%;
    box-sizing: border-box;
    font-family: 'Inika', serif;
    color: white;
    font-size: 36px;
    width: 50%;
    padding-left: 32px;
    height: 272px;
    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
}

.mein{
   padding: 0 80px; 
}

.card{
    display: flex;
}

.h2{
    margin: 60px 0;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.line-1{
    width: 361px;
    border-bottom: 5px solid #3E45E8;
 }

 .Ukraine{
    display: block;  
    margin: 0 auto;
  }


.knopka{
    background-image: url("../img/Rectangle\ 6.png");
    background-repeat: no-repeat;
    height: 121px;
    width: 591px;
    margin: 50px auto;
}

.h3{
    color:white;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 64px;
    padding-left: 105px;
    padding-top: 25px;
}


.footer{
    background: #2F4A4B;
}
.header-span2{
    color: #E8C23E;
    padding: 25px;
}

.header-span1{
    color: #3E45E8;
    padding: 25px;
}

.footer-1{
    background-repeat: no-repeat;
    height: 320px;
    max-height: 320px;
    background-size: cover;
}


.footer-2{
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

.contact{
      text-align: center;
      font-size: 36;
      font-weight: 400;
}

.a{
    text-decoration: none;
    color: #A89D9D;
}

.seti{
    display: block;
    text-align: center;    
}
