body{
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}

.line{
   margin-left: 20%;
   box-sizing: border-box;
   width: 1100px;
   height: 580px;
}
.item-SpSquare{
    background: linear-gradient(#2137FC 50%, #FFCE22 50%);
    height: 512px;
    max-width: 512px;
    margin: 100px 0 100px 100px;
}
.Group :hover{
    color: #403560;
}
item-peCircle{
    background: linear-gradient(to bottom, #2137FC 50%, #FFCE22 50%);
    height: 512px;
    background-repeat: no-repeat;
    max-width: 512px;
    margin: 0 100px 100px 100px;
    border-radius: 50%;
    box-sizing: border-box;

}
