body{
    margin: 0%;
    padding: 0%;
}

.box{
    background-color: #E5E5E5;
    box-sizing: border-box;
    }

.line{
   margin-left: 20%;
   box-sizing: border-box;
   height: 580px;
   display: flex;
  }

.prapor{
    background: linear-gradient(#2137FC 50%, #FFCE22 50%);
    height: 512px;
    width: 512px;
    margin: 100px 0 100px 100px;
      
}
.box1{
    background-color: white;
    height: 512px;
    width: 512px;
    margin: 100px 0 100px 100px;
}

.image{
    background: linear-gradient(#2137FC 50%, #FFCE22 50%);
    height: 512px;
    width: 512px;
    border-radius: 50%;
    position: relative;
    
}
.hv{
    padding-top: 27%;
    padding-left: 10%;
}

.diya-item{
    width: 512px;
    height: 512px;
    background-color: black;
    margin: 100px 0px 0px 100px;
    display: inline-block;
    text-align: center;
}

img.flag1{
    padding-top: 0%;
    padding-left: 15%;
}

img.flag2{
    padding-top: 2%;
    padding-right: 75%;
}

.flag{
    display: flex;
    margin: 0px 15px;
}
img.flag3{
    padding-top: 2%;
    padding-right: 64%;
}

img.flag4{
    padding-top: 2%;
    padding-left: 3%;
}
